<div id="page-wrapper">
    <div id="ctrl-wrapper">
        <div class="page-header">
            <h1 id="navs">Shows</h1>
        </div>

        <!-- add show -->
        <button ng-click='toggleModal()'>Add Show</button>
        <modal-dialog show='modalShown' width='750px' height='60%'>
            <p> ADD A SHOW! <p>
        </modal-dialog>

        <!-- shows list -->
        <li ng-repeat="#">
            <div ng-model="#.#">{{#.#}}<a href="" ng-click="#"></span></a></div>
        </li>

    </div> <!-- /. ctrl - wrapper -->
</div> <!-- /. page wrapper  -->