<div id="ctrl-wrapper">
    <div>
        <div class="page-header">
            <h1 id="navs">Tasks</h1>
        </div>

        <div ng-controller="TasksController as tCtrl">
            <input type="text" class="form-control input-lg text-center col-lg-8 col-md-6 col-sm-6" placeholder="Enter your new task" ng-model="tempTask">
            <button type="submit" class="btn btn-primary btn-lg" ng-click="tCtrl.createTask(tempTask)">Add Task</button>
            <br>
            <h4> Currently Adding: </h4>{{tempTask}}
            <br>
            <h3> Task List </h3>
            <br>
            <li ng-repeat="task in tCtrl.tasks">
                <div ng-model="task.task">{{task.task}}<a href="" ng-click="tCtrl.deleteTask(task)"><span class="fa fa-ban"></span></a></div>
            </li>
        </div><!-- /. tCtrl div -->
    </div>
</div> <!-- /. wrapper div -->