<div ng-controller="TasksController as tCtrl" id="page-wrapper">
    <div id="ctrl-wrapper">
        <div class="page-header">
            <h1 id="navs">Tasks</h1>
            <ul class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li class="active">Tasks</li>
            </ul>
        </div><!-- end of header -->
        <!-- ### CONTENT STARTS HERE ###-->

        <!-- task panels -->
        <div class="col-lg-12" ng-controller="MainCtrl">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Current Tasks</h3>
                </div>
            </div>
            <li ng-repeat="task in tCtrl.tasks track by $index">
                <div ng-model="task">{{task}}<a href="" ng-click="deleteTask(task)">  X</a></div>
            </li>
            <button class="btn btn-primary" ng-click="addTaskPopUp()">Add Task</button>
        </div>
    </div>
</div> <!-- /. wrapper div --
